
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.col{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.row{
  display: flex;  
}